repos:
-   repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
    -   id: black
        language_version: python3.7
        args: ["-l", "80", "-t", "py34"]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/PyCQA/flake8
    rev: '3.9.2'  # pick a git hash / tag to point to
    hooks:
    -   id: flake8
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.910'  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
        exclude: "conftest.py|^doc/examples/examples/|^doc/conf.py"
-   repo: https://github.com/codespell-project/codespell
    rev: 'v2.1.0'
    hooks:
    -   id: codespell
        args: ["-I", "codespell.txt"]

ci:
    autoupdate_schedule: monthly
